/** Reset.css */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none!important}a{background-color:transparent}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:0;text-decoration:none}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border-style:none}svg:not(:root){overflow:hidden}figure{margin:1em 2.5em}hr{box-sizing:content-box;height:0;overflow:visible}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}button:-moz-focusring,input:-moz-focusring{outline:1px dotted ButtonText}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;outline-offset:-2px}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0}textarea{overflow:auto}optgroup{font-weight:700}

*{
	box-sizing: border-box;
	tab-size: 4;
}

html, body{
	background: #ccc;
	position: absolute;
	width: 100%;
	min-height: 100%;
}

h1, h2{
	position: absolute;
	text-indent: -999vw;
	font-size: .25em;
	padding: 0;
	margin:  0;
	top:     0;
	left:    0;
}

/* Menu/toolbar */
#toolbar{
	position: fixed;
	top:   0;
	left:  0;
	right: 0;
	color: #fff;
	background: #000;
	text-align: center;
	
	display: flex;
	align-items: center;
	justify-content: center;
}
	#toolbar > nav{
		border-left: 1px solid;
		padding-left: .5em;
		margin-right: .5em;
	}
		#toolbar > :first-child{
			border-left: 0;
			padding-left: 0;
		}
		#toolbar label{
			cursor: pointer;
		}
		#toolbar input,
		#toolbar select,
		#toolbar textarea{
			display: inline-block;
			vertical-align: middle;
		}
		#bookmarks{   width: 8.125em; }
		#spread-size{ width: 5ch; padding: 0 .25em; }
		#zoom-amount{ width: 8ch; }

	/* Centre vertically */
	#toolbar::after{
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 3em;
	}

/* Modal dialogue layer */
#overlay{
	background: rgba(0,0,0,.75);
	position: fixed;
	z-index: 3;
	top:    0;
	left:   0;
	right:  0;
	bottom: 0;
	color: #fff;
	padding: 1em;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
	#editor label{
		display: block;
	}

	#editor-input{
		display: block;
		resize: none;
		width: 100%;
		height: 16em;
		font: .7em "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
		padding: .5em;
		white-space: pre;
		overflow: scroll;
		margin: 1em 0;
	}

	#editor button{
		padding: .5em 1em;
	}

/* Wrapper for holding the generated Troff view layers */
#viewport{
	position: absolute;
	overflow: auto;
	left:   0;
	top:    3em;
	right:  0;
	bottom: 0;
}
	.troff-view-zoom{
		transition: .3s ease transform;
	}
	.troff-view-pages:not([data-spread-size]),
	.troff-view-pages[data-spread-size="1"]{
		margin: .5em;
		width: calc(100% - 1em);
	}
		.troff-view-page{
			margin: .5em 0;
		}
