/* Demo styling */
*{
	tab-size: 4;
	box-sizing: border-box;
}

html{
	background: #000;
	color: #fff;
}

a:link,
a:visited{
	color: inherit;
	text-decoration: none;
}

#frame{
	font-family: Menlig, Menlo, Monaco, monospace;
	line-height: 1.4;
	white-space: pre;
}
